body{
    margin: 0;
    background: #2B2A33;
}

main{
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.logo img{
    width: 350px;
    padding: 50px 0;
}

.search {
    display: flex;
    justify-content: center;
    position: relative;
}

.search img{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 770px;
    background: white;
    border-radius: 100px;
    padding: 3px;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.search input{
    width: 700px;
    height: 50px;
    outline: 0;
    border: 0;
    box-shadow: 0 0.5px 5px gray;
    background: #42414D;
    border-radius: 10px;
    color: white;
    padding-left: 50px;
    font-family: "Montserrat", sans-serif;    
    font-size: 13px;
}

.search li{
    background: orange;
    list-style: none;
    padding: 15px 15px;
    border-radius: 10px;
    margin-left: 25px;
    box-shadow: 0 2px 5px gray;
    cursor: pointer;
}

.search li:hover{
    background: rgb(226, 147, 0);
}


.search li a{
    color: #2B2A33;
    font-family: montserrat;
    text-decoration: none;
}

.popular-websites{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 30px;
}

.popular-websites li {
    text-align: center;
    color: white;
    font-family: montserrat;
    margin-top: 25px;
    
}

.youtube{
    padding: 10px 20px;
}

.youtube:hover{
    background: #585763;
    border-radius: 5px;
    cursor: pointer;
}

.youtube li a img{
    width: 50px;
}

.youtube li{
    padding: 5px;
}

.instagram:hover{
    background: #585763;
    border-radius: 5px;
    cursor: pointer;
}

.instagram{
    margin-left: 50px;
    padding: 10px 20px;
}

.instagram li a img{
    width: 50px;
}



.google {
    margin-left: 50px;
    padding: 10px 30px;
}

.google:hover{
    background: #585763;
    cursor: pointer;
    border-radius: 5px;
}

.google li a img{
    width: 50px;
}

.youtube-text{
    color: white;
}


@media screen and (max-width: 768px) {
    .search input{
        width: 600px;
    }
    .search img{
        right: 670px;
    }
}
@media screen and (max-width: 425px) {
    .search{
        margin-left: 5px;
    }
    .search input{
        width: 270px;
    }
    .search img{
        right: 330px;
    }
    .popular-websites{
        margin-left: 10px;
    }
    .instagram {
        margin-left: 30px;
        padding: 8px 10px;
    }
    .youtube {
        padding: 8px 10px;
    }
    .google {
        padding: 8px 10px;
        margin-left: 35px;
    }
    .logo img{
        width: 250px;
    }
}

@media screen and (max-width: 320px) {
    .search{
        margin-left: 40px;
    }
    .search input{
        width: 200px;
    }
    .search img{
        right: 270px;
    }
    .popular-websites{
        margin-left: 20px;
    }
    .instagram {
        padding: 8px 10px;
        margin-left: 10px;
    }
    .youtube {
        padding: 8px 10px;
    }
    .google {
        padding: 8px 10px;
        margin-left: 15px;
    }
    .instagram li a img{
        width: 50px;
    }
    .logo img{
        width: 250px;
        margin-left: 30px;
    }
}